  <div>
    <div *ngIf="parceiro.id" class="edit-form">
      <h4>Parceiro</h4>
      <form>
      <div class="form-group">
        <label for="parceiro">Parceiro</label>
        <input
          type="text"
          class="form-control"
          id="parceiro"
          required
          [(ngModel)]="parceiro.parceiro"
          name="parceiro"
        />
      </div>

      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          required
          [(ngModel)]="parceiro.nome"
          name="nome"
        />
      </div>

      <div class="form-group">
        <label for="fantasia">Fantasia</label>
        <input
          type="text"
          class="form-control"
          id="fantasia"
          required
          [(ngModel)]="parceiro.fantasia"
          name="fantasia"
        />
      </div>

      <div class="form-group">
        <label for="cpfCnpj">CpfCnpj</label>
        <input
          type="text"
          class="form-control"
          id="cpfCnpj"
          required
          [(ngModel)]="parceiro.cpfCnpj"
          name="cpfCnpj"
        />
      </div>

      <div class="form-group">
        <label for="site">Site</label>
        <input
          type="text"
          class="form-control"
          id="site"
          required
          [(ngModel)]="parceiro.site"
          name="site"
        />
      </div>

      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input
          type="text"
          class="form-control"
          id="telefone"
          required
          [(ngModel)]="parceiro.telefone"
          name="telefone"
        />
      </div>

      </form>

      <button class="badge badge-danger mr-2" (click)="deleteParceiro()">
        Excluir
      </button>

      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateParceiro()"
      >
        Gravar
      </button>
      <p>{{ message }}</p>
    </div>

    <div *ngIf="!parceiro.id">
      <br />
      <p>Não foi possível carregar essa entidade de Parceiro...</p>
    </div>
  </div>
