<mat-sidenav-container class="sidenav-container"> 
  <mat-sidenav #drawer class="sidenav" fixedInViewport 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" 
      [mode]="(isHandset$ | async) ? 'over' : 'side'" 
      [opened]="(isHandset$ | async) === false"> 
    <mat-toolbar>Menu</mat-toolbar> 
 <mat-nav-list>
      <a mat-list-item routerLink="itens" (mouseup)="drawer.toggle()">Itens</a> 
      <a mat-list-item routerLink="parceiros" (mouseup)="drawer.toggle()">Parceiros</a> 
      <a mat-list-item routerLink="configuracoes" (mouseup)="drawer.toggle()">Configuracoes</a> 
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>NadirDigital</span>
    </mat-toolbar>
    <div class="fix"></div>
      <router-outlet class="container"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
 <div class="fix"></div> 
<mat-toolbar class="toolbarNav">
  <button mat-flat-button routerLinkActive="active-link" routerLink="">
    <mat-icon class="material-icons color_blue">
      home_border</mat-icon>
  </button>
    <button mat-button [matMenuTriggerFor]="menu"
    mat-flat-button routerLinkActive="active-link" ><mat-icon class="addButton" id="mat-icon">add_border
    </mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/add/item">Itens</button>
  <button mat-menu-item routerLink="/add/parceiro">Parceiros</button>
  <button mat-menu-item routerLink="/add/configuracaoBusca">ConfiguracoesBuscas</button>
</mat-menu>
  <button mat-flat-button routerLink="/history" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue">assignment_turned_in_border</mat-icon>
  </button>
</mat-toolbar>
