<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                placeholder="Procurar por Descricao"
                [(ngModel)]="descricao"
            />
            <div class="input-group-append">
                <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="searchDescricao()"
                >
                    Procurar
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Lista de Itens</h4>
        <ul class="list-group">
        <li
            class="list-group-item"
            *ngFor="let item of ItemCollection; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveItem(item, i)"
        >
            {{ item.item }} {{ item.descricao }} {{ item.barras }} {{ item.quantidadeEstoque }} {{ item.preco }} {{ item.precominimo }} {{ item.referencia }} {{ item.marca }} 
        </li>
        </ul>

        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllItens()">
        Remover Tudo
        </button>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentItem.id">
        <h4>Item</h4>
        <div>
            <label><strong>Marca:</strong></label> {{ currentItem.marca }}
        </div>
        <img src="{{ currentItem.imagensdoitem }}" width="200" >
        

        <a class="badge badge-warning" routerLink="/itens/{{ currentItem.id }}">
            Editar
        </a>
        </div>

        <div *ngIf="!currentItem">
        <br />
        <p>Por favor selecione uma linha da lista de Item...</p>
        </div>
    </div>
</div>
