<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                placeholder="Procurar por Descricao"
                [(ngModel)]="descricao"
            />
            <div class="input-group-append">
                <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="searchDescricao()"
                >
                    Procurar
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                placeholder="Procurar por Fornecedor"
                [(ngModel)]="fornecedor"
            />
            <div class="input-group-append">
                <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="searchFornecedor()"
                >
                    Procurar
                </button>
            </div>
        </div>
    </div>
<div class="col-md-6">
        <h4>Lista de Itens</h4>
    <div *ngFor="let item of ItemCollection; let i = index">
        <mat-card 
        [class.active]="i == currentIndex"
        class="listitem">
            <mat-card-title>{{item.descricao}} <div class="dots"><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="setActiveItem(item, i)">
                <mat-icon>visibility</mat-icon>
                <span>Detalhes</span>
              </button>
              <button mat-menu-item routerLink="/image/{{ item.id }}">
                <mat-icon>image</mat-icon>
                <span>Imagem</span>
              </button>
              <button mat-menu-item routerLink="/add/image/{{ item.id }}">
                <mat-icon>image</mat-icon>
                <span>Adicionar Imagem</span>
              </button>
              <button mat-menu-item (click)="deleteItem(item)">
                <mat-icon>delete_forever</mat-icon>
                <span>Deletar</span>
              </button>
            </mat-menu></div> </mat-card-title>
            <mat-card-subtitle>{{ item.fornecedoresdoitem }}</mat-card-subtitle>
            <mat-card-content>
                {{item.barras}}
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
          <br>
    </div>
    <div *ngIf="buttonAtivado">
        <button (click)="setarConfiguracoes()" class="btn btn-success">Buscar Fotos na Web</button>
    </div>
    <h4 *ngIf="!buttonAtivado">Lista de Configuraçẽos para realizar a busca</h4>
    <div *ngFor="let config of ConfiguracoesCollection; let i = index">
        
        <mat-card 
        [class.active]="i == currentIndex"
        class="listitem">
            <mat-card-title>{{config.codigo}} <div class="dots"><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="realizarBusca(config)">
                <mat-icon>visibility</mat-icon>
                <span>Escolher este</span>
              </button>
            </mat-menu></div> </mat-card-title>
            <mat-card-subtitle>{{ config.id}}</mat-card-subtitle>
            <mat-card-content>
                {{config.descricao}}
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
          <br>
    </div>
    </div>
  

    <div class="col-md-6">
        <div *ngIf="currentItem.id">
        <h4>Item</h4>
        <div>
            <label><strong>Item:</strong></label> {{ currentItem.item }}
        </div>
        <div>
            <label><strong>Descricao:</strong></label> {{ currentItem.descricao }}
        </div>
        <div>
            <label><strong>Barras:</strong></label> {{ currentItem.barras }}
        </div>
        <div>
            <label><strong>QuantidadeEstoque:</strong></label> {{ currentItem.quantidadeEstoque }}
        </div>
        <div>
            <label><strong>Preco:</strong></label> {{ currentItem.preco }}
        </div>
        <div>
            <label><strong>Precominimo:</strong></label> {{ currentItem.precominimo }}
        </div>
        <div>
            <label><strong>Referencia:</strong></label> {{ currentItem.referencia }}
        </div>
        <div>
            <label><strong>Marca:</strong></label> {{ currentItem.marca }}
        </div>
        <div>
            <label><strong>Imagensdoitem:</strong></label> <img src="{{currentItem.imagensdoitem}}" width="300"/>
        </div>
        <div>
            <label><strong>Fornecedoresdoitem:</strong></label> {{ currentItem.fornecedoresdoitem }}
        </div>

        <a class="badge badge-warning" routerLink="/itens/{{ currentItem.id }}">
            Editar
        </a>
        </div>

        <div *ngIf="!currentItem">
        <br />
        <p>Por favor selecione uma linha da lista de Item...</p>
        </div>
    </div>
</div>