<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Procurar por Descricao"
            [(ngModel)]="descricao"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="searchDescricao()"
            >
              Procurar
            </button>
          </div>
        </div>
      </div>
    
      <div class="col-md-6" charset="UTF-8">
        <h4 *ngIf="!estaCarregandoSpinner">Lista de Configurações de Buscas</h4>
        <mat-spinner *ngIf="estaCarregandoSpinner"></mat-spinner>
        <div *ngIf="!estaCarregandoSpinner">
          <div *ngFor="let configuracaoBusca of ConfiguracaoBuscaCollection; let i = index" charset="UTF-8">
            <mat-card [class.active]="i == currentIndex" class="listitem">
              <mat-card-title
                >{{ configuracaoBusca.descricao }}
                <div class="dots">
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="setActiveConfiguracaoBusca(configuracaoBusca, i)">
                      <mat-icon>visibility</mat-icon>
                      <span>Detalhes</span>
                    </button>
                    <button mat-menu-item (click)="deleteConfiguracaoBusca(configuracaoBusca)">
                      <mat-icon>delete_forever</mat-icon>
                      <span>Deletar</span>
                    </button>
                  </mat-menu>
                </div>
              </mat-card-title>
              <mat-card-subtitle>{{ configuracaoBusca.parceiro }}</mat-card-subtitle>
              <mat-card-content>
                {{ configuracaoBusca.urlbusca }}
              </mat-card-content>
              <mat-card-actions> </mat-card-actions>
            </mat-card>
            <br />
          </div>
        </div>
        <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="OnPageChange($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    <div class="col-md-6">
        <div *ngIf="currentConfiguracaoBusca.id">
        <h4>ConfiguracaoBusca</h4>
        <div>
            <label><strong>Código:</strong></label> {{ currentConfiguracaoBusca.codigo }}
        </div>
        <div>
            <label><strong>Descricao:</strong></label> {{ currentConfiguracaoBusca.descricao }}
        </div>
        <div>
            <label><strong>Parceiro:</strong></label> {{ currentConfiguracaoBusca.parceiro }}
        </div>
        <div>
            <label><strong>Urlbusca:</strong></label> {{ currentConfiguracaoBusca.urlbusca }}
        </div>
        <div>
            <label><strong>Variaveis:</strong></label> {{ currentConfiguracaoBusca.variaveis }}
        </div>
        <div>
            <label><strong>Caminho Imagem:</strong></label> {{ currentConfiguracaoBusca.caminhoImagem }}
        </div>
        <a class="badge badge-warning" routerLink="/configuracoesBuscas/{{ currentConfiguracaoBusca.id }}">
            Editar
        </a>
        <button class="badge badge-warning" (click)="realizarBusca()">BuscarPuppetear</button>
        </div>

        <div *ngIf="!currentConfiguracaoBusca">
        <br />
        <p>Por favor selecione uma linha da lista de ConfiguracaoBusca...</p>
        </div>
    </div>
</div>
